*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 29em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  box-sizing: border-box;
}

.section__popup {
  background-color: pink;
  opacity: 0;
  visibility: hidden;
}
.section__popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__background {
  padding: 1rem 4rem;
  background-color: #B28451;
  position: absolute;
  top: 17%;
  right: 26%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popup__item {
  text-align: center;
  list-style: none;
}
.popup__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: inherit;
  color: #f9f7f6;
  padding: 1rem;
  display: inline-block;
}
.popup__link:hover {
  color: #101d2c;
}

.section__relationship {
  background-color: #f9f7f6;
  padding: 1rem 0 6rem;
}

.section__member {
  padding: 6rem 0 2rem;
}
.section__member__heading {
  font-size: 4rem;
  font-weight: 900;
  color: #101d2c;
  text-align: center;
}
.section__member__tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 4rem;
}
.section__member__boxes {
  background-color: #fff;
  padding: 5rem 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 75em) {
  .section__member__boxes {
    padding: 3rem 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 62.5em) {
  .section__member__boxes {
    padding: 3rem 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 53.25em) {
  .section__member__boxes {
    flex: 0 0 30%;
    margin-bottom: 2rem;
  }
}
.section__member__boxes--images {
  height: 10rem;
  width: 20rem;
  background-size: cover;
  background-position: center;
}

.section__partnership {
  padding: 12rem 0 2rem;
}
.section__partnership__heading {
  font-size: 4rem;
  font-weight: 900;
  color: #101d2c;
  text-align: center;
}

.section__growing {
  display: flex;
  padding: 0 4rem;
}
@media screen and (max-width: 37.5em) {
  .section__growing {
    flex-direction: column;
  }
}
.section__growing__content {
  flex: 0 0 50%;
  padding: 7rem 4rem;
  background-color: #101d2c;
}
.section__growing__picture {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.section__growing__picture--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__growing__heading {
  font-size: 4.5rem;
  font-weight: 900;
  font-family: inherit;
  color: #f9f7f6;
  margin-bottom: 1rem;
}
@media screen and (max-width: 75em) {
  .section__growing__heading {
    font-size: 3.7rem;
  }
}
.section__growing__text {
  font-size: 1.6rem;
  color: #f9f7f6;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 2rem;
}
@media screen and (max-width: 75em) {
  .section__growing__text {
    font-size: 1.3rem;
  }
}
.section__growing__text:not(:last-child) {
  border-bottom: 1px solid #f9f7f6;
  padding-bottom: 2rem;
}

.main__header {
  display: flex;
}
@media screen and (max-width: 37.5em) {
  .main__header {
    flex-direction: column;
  }
}

.header {
  flex: 0 0 61.5%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
  line-height: 1.6;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpeg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 37.5em) {
  .header {
    flex: 0 0 100%;
  }
}
.header__sidebar {
  flex: 1;
  align-content: center;
  padding-top: 3rem;
  padding: 6rem;
  background-color: #101d2c;
}
@media screen and (max-width: 37.5em) {
  .header__sidebar {
    margin-top: 30rem;
  }
}
.header__sidebar__contact {
  margin-right: 8rem;
}
@media screen and (max-width: 62.5em) {
  .header__sidebar__contact {
    margin-right: 7rem;
  }
}
@media screen and (max-width: 37.5em) {
  .header__sidebar__contact {
    display: none;
  }
}
.header__sidebar__contact--info {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #c69963;
}
.header__sidebar__contact--info:hover {
  color: #f9f7f6;
}
.header__text__main {
  font-size: 5.7rem;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
}
@media screen and (max-width: 62.5em) {
  .header__text__main {
    font-size: 4.5rem;
  }
}
.header__text__sub {
  color: #f9f7f6;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
@media screen and (max-width: 62.5em) {
  .header__text__sub {
    font-size: 1.6rem;
  }
}
.header__btn {
  display: inline-block;
  text-decoration: none;
  color: #c69963;
  margin-top: 3rem;
  background-color: #f9f7f6;
  padding: 2rem 10rem;
  border-radius: 1.5px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 62.5em) {
  .header__btn {
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
  }
}
.header__btn:hover {
  background-color: #c69963;
  color: #f9f7f6;
}
.header__logo__image {
  margin-left: 4rem;
  width: 15em;
}
.header__nav {
  display: flex;
}
@media screen and (max-width: 53.25em) {
  .header__nav {
    display: none;
  }
}
.header__nav__list {
  display: flex;
  list-style: none;
}
.header__nav__item {
  margin-right: 3rem;
}
@media screen and (max-width: 62.5em) {
  .header__nav__item {
    margin-right: 1.5rem;
  }
}
.header__nav__link {
  text-decoration: none;
  color: #c69963;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 0;
  display: block;
  transition: all 0.3s ease-in-out;
}
.header__nav__link:hover {
  color: #f9f7f6;
}

.head__glassy {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 2rem;
}

#sponsorship {
  background-color: #101d2c;
  margin-bottom: 4rem;
}

.section__general {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 37.5em) {
  .section__general {
    flex-direction: column;
  }
}

.section__sponsorship {
  padding: 0rem 4rem 4rem;
}
.section__sponsorship__bottom {
  padding: 3rem;
  background-color: #f9f7f6;
  flex: 0 0 23%;
  align-self: stretch;
}
@media screen and (max-width: 62.5em) {
  .section__sponsorship__bottom {
    flex: 0 0 48%;
    margin-bottom: 4rem;
  }
}
.section__sponsorship__bottom--flex {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #101d2c;
  color: #101d2c;
}
.section__sponsorship__heading {
  font-size: 3.5rem;
  font-weight: 900;
}
@media screen and (max-width: 75em) {
  .section__sponsorship__heading {
    font-size: 2.8rem;
  }
}
.section__sponsorship__text {
  font-size: 2.3rem;
  padding: 1rem 0;
}
@media screen and (max-width: 75em) {
  .section__sponsorship__text {
    font-size: 1.6rem;
  }
}
.section__sponsorship__paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
}
@media screen and (max-width: 75em) {
  .section__sponsorship__paragraph {
    font-size: 1.3rem;
  }
}
.section__sponsorship__paragraph:not(:last-child) {
  margin-bottom: 1.5rem;
}

.section__widget {
  background-color: #fff;
  padding: 7rem 0 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
@media screen and (max-width: 37.5em) {
  .section__widget {
    flex-direction: column;
    align-items: center;
  }
}
.section__widget__grid {
  flex: 0 0 28%;
  align-items: stretch;
  margin: 2.2rem;
  padding: 3rem 3rem;
  background-color: #f9f7f6;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 62.5em) {
  .section__widget__grid {
    flex: 0 0 35%;
  }
}
.section__widget__grid:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}
.section__widget__grid--icon {
  height: 8rem;
  width: 6rem;
}
.section__widget__grid--heading {
  font-size: 1.8rem;
  font-weight: 900;
  color: #101d2c;
  margin-bottom: 1rem;
}
.section__widget__grid--text {
  font-size: 1.3rem;
  color: #101d2c;
  line-height: 1.5;
  margin-top: 2rem;
}

.section__video {
  padding: 5rem 12rem 1rem;
}
.section__video__tab {
  margin-bottom: 0rem;
}
.section__video__tab video.section__video__tab__video {
  width: 100%;
  height: auto;
}

.section__faqs {
  display: flex;
  padding: 6rem 4rem;
  justify-content: space-between;
}
@media screen and (max-width: 53.25em) {
  .section__faqs {
    flex-direction: column;
  }
}
.section__faqs__left {
  flex: 0 0 35%;
  margin-right: 5rem;
  padding: 5rem 3rem;
  background-color: #101d2c;
  transition: all 0.2s;
}
@media screen and (max-width: 53.25em) {
  .section__faqs__left {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.section__faqs__left:hover {
  transform: scale(1.01);
}
.section__faqs__right {
  flex: 1;
  justify-content: space-between;
}
.section__faqs__right--examples {
  padding: 3rem;
  background-color: #f9f7f6;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}
.section__faqs__right--examples:not(:last-child) {
  margin-bottom: 2rem;
}
.section__faqs__right--examples:hover {
  background-color: #B28451;
  color: #f9f7f6;
}
.section__faqs__right--examples--heading {
  font-size: 3rem;
  font-weight: 600;
  color: #B28451;
  margin-bottom: 1rem;
}
.section__faqs__heading {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.2;
  color: #f9f7f6;
  margin-bottom: 2rem;
}
@media screen and (max-width: 62.5em) {
  .section__faqs__heading {
    font-size: 3.5rem;
  }
}
.section__faqs__subheading {
  font-size: 2.3rem;
  color: #B28451;
  margin-bottom: 2rem;
}
@media screen and (max-width: 62.5em) {
  .section__faqs__subheading {
    font-size: 1.8rem;
  }
}

.section__membership {
  padding: 8rem 4rem;
}
@media screen and (max-width: 37.5em) {
  .section__membership {
    padding: 8rem 1rem;
  }
}
.section__membership__topbar {
  padding: 7rem 3rem;
  background-color: #c69963;
}
.section__membership__topbar__heading {
  font-size: 4.5rem;
  font-weight: 900;
  color: #f9f7f6;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 2rem;
}
.section__membership__topbar__text {
  font-size: 2.5rem;
  color: #f9f7f6;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.section__membership__content {
  display: flex;
  margin-top: 3rem;
}
@media screen and (max-width: 37.5em) {
  .section__membership__content {
    flex-direction: column;
  }
}
.section__membership__content__left {
  background-color: #f9f7f6;
  flex: 0 0 50%;
  margin-right: 4rem;
  padding: 3rem;
}
@media screen and (max-width: 37.5em) {
  .section__membership__content__left {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.section__membership__content__right {
  flex: 1;
  padding: 3rem;
  background-color: #f9f7f6;
}
.section__membership__content--btn1 {
  display: inline-block;
  text-decoration: none;
  color: #101d2c;
  background-color: #aaa;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 75em) {
  .section__membership__content--btn1 {
    font-size: 1.5rem;
  }
}
.section__membership__content--btn1:hover {
  background-color: #B28451;
  color: #f9f7f6;
}
.section__membership__content--btn2 {
  display: inline-block;
  text-decoration: none;
  color: #f9f7f6;
  background-color: #101d2c;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 75em) {
  .section__membership__content--btn2 {
    font-size: 1.5rem;
  }
}
.section__membership__content--btn2:hover {
  background-color: #f9f7f6;
  color: #101d2c;
}
.section__membership__content__btn {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #aaa;
}
.section__membership__content__text {
  font-size: 2rem;
  color: #101d2c;
  line-height: 1.1;
  margin-top: 2rem;
}
@media screen and (max-width: 75em) {
  .section__membership__content__text {
    font-size: 1.7rem;
  }
}

.section__footer {
  background-color: #101d2c;
  padding: 6rem 4rem;
}
.section__footer__top {
  display: flex;
  border-bottom: 1px solid #aaa;
}
@media screen and (max-width: 37.5em) {
  .section__footer__top {
    flex-direction: column;
  }
}
.section__footer__top--left {
  flex: 0 0 50%;
}
@media screen and (max-width: 29em) {
  .section__footer__top--left {
    text-align: center;
  }
}
.section__footer__top--logo {
  width: 20rem;
  height: 8rem;
  margin-bottom: 3rem;
}
.section__footer__top--text {
  font-size: 1.6rem;
  color: #f9f7f6;
  line-height: 1.5;
  margin-bottom: 2rem;
  padding-right: 20rem;
}
@media screen and (max-width: 53.25em) {
  .section__footer__top--text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 75em) {
  .section__footer__top--text {
    padding-right: 0rem;
  }
}
.section__footer__top--logos {
  margin-bottom: 2rem;
}
.section__footer__top--middle {
  flex: 1;
  text-align: left;
}
@media screen and (max-width: 29em) {
  .section__footer__top--middle {
    text-align: center;
  }
}
.section__footer__top--header {
  font-size: 2.4rem;
  color: #f9f7f6;
  font-weight: 600;
  margin-bottom: 3rem;
}
@media screen and (max-width: 53.25em) {
  .section__footer__top--header {
    font-size: 1.8rem;
  }
}
.section__footer__top__right__container {
  flex: 1;
  text-align: right;
}
@media screen and (max-width: 75em) {
  .section__footer__top__right__container {
    text-align: center;
  }
}
.section__footer__top__right1 {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #aaa;
}
.section__footer__top__right2 {
  margin-bottom: 2rem;
}
.section__footer__top__header1 {
  font-size: 2.2rem;
  color: #f9f7f6;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media screen and (max-width: 53.25em) {
  .section__footer__top__header1 {
    font-size: 1.9rem;
  }
}
.section__footer__top__header2 {
  font-size: 1.5rem;
  color: #f9f7f6;
  font-weight: 600;
}
@media screen and (max-width: 53.25em) {
  .section__footer__top__header2 {
    font-size: 1.3rem;
  }
}
.section__footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  font-size: 1.4rem;
  color: #aaa;
}
@media screen and (max-width: 37.5em) {
  .section__footer__bottom {
    flex-direction: column;
  }
}
.section__footer__bottom--left {
  flex: 0 0 50%;
  text-align: left;
}
@media screen and (max-width: 29em) {
  .section__footer__bottom--left {
    text-align: center;
  }
}
.section__footer__bottom--right {
  flex: 1;
  text-align: right;
}
@media screen and (max-width: 29em) {
  .section__footer__bottom--right {
    text-align: center;
  }
}
.section__footer__bottom--link {
  text-decoration: none;
  color: #c69963;
  transition: all 0.3s ease-in-out;
}
.section__footer__bottom--link:hover {
  color: #54483A;
}

.footer__navigation__item {
  margin-bottom: 1rem;
  list-style: none;
}
.footer__navigation__link {
  text-decoration: none;
  color: #f9f7f6;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  display: block;
  transition: all 0.3s ease-in-out;
}
.footer__navigation__link:hover {
  color: #B28451;
}

.section__brief {
  padding: 4rem 12rem;
  border: 1px solid #f9f7f6;
  margin: 3rem 12rem 1rem;
  text-align: center;
}
@media screen and (max-width: 37.5em) {
  .section__brief {
    padding: 4rem 0rem;
  }
}
.section__brief__logo--image {
  width: 5rem;
  height: 2rem;
}
@media screen and (max-width: 37.5em) {
  .section__brief__logo--image {
    width: 4rem;
    height: 1rem;
  }
}
.section__brief__text {
  font-size: 2.5rem;
  color: #f9f7f6;
  line-height: 1.5;
  margin-top: 2rem;
}
@media screen and (max-width: 37.5em) {
  .section__brief__text {
    font-size: 2.2rem;
  }
}
.section__brief__heading--link {
  font-size: 2.2rem;
  font-weight: 900;
  color: #101d2c;
  margin-bottom: 2rem;
}
@media screen and (max-width: 37.5em) {
  .section__brief__heading--link {
    font-size: 1.9rem;
  }
}
.section__brief__paragraph {
  font-size: 1.4rem;
  color: #aaa;
  line-height: 1.25;
}
@media screen and (max-width: 37.5em) {
  .section__brief__paragraph {
    font-size: 1.1rem;
  }
}
.section__brief__subheading {
  font-size: 1.4rem;
  color: #101d2c;
}
@media screen and (max-width: 37.5em) {
  .section__brief__subheading {
    font-size: 1.1rem;
  }
}
.section__brief__mail {
  font-size: 2rem;
  color: #101d2c;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
@media screen and (max-width: 37.5em) {
  .section__brief__mail {
    font-size: 1.8rem;
  }
}
.section__brief__mail--link {
  color: #6D5D4B;
}
.section__brief__mail--text {
  font-size: 1.3rem;
  line-height: 1.1;
  color: #aaa;
}
@media screen and (max-width: 37.5em) {
  .section__brief__mail--text {
    font-size: 1.1rem;
  }
}
.section__brief__mail:hover {
  color: #B28451;
}
.section__brief__mail--button {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  color: #f9f7f6;
  border-radius: 0.5rem;
  border: none;
  background-color: #101d2c;
}
@media screen and (max-width: 37.5em) {
  .section__brief__mail--button {
    padding: 1rem 1rem;
    font-size: 1.2rem;
  }
}
.section__brief__mail--button:hover {
  background-color: #B28451;
  outline: none;
}
.section__brief__mail--button:focus {
  outline: none;
}
.section__brief__email {
  font-size: 1.5rem;
  color: #101d2c;
  border: 1px solid #101d2c;
  padding: 0.8rem 5rem 0.8rem 1rem;
  border-radius: 0.5rem;
  background-color: #f9f7f6;
  width: 30%;
  margin: 2rem 0;
  margin-right: 0.2rem;
}
.section__brief__email:focus {
  outline: none;
  border-bottom: 3px solid green;
  font-size: 1.5rem;
}
.section__brief__email:focus:invalid {
  border-bottom: 3px solid red;
}
.section__brief__email::placeholder {
  color: #6D5D4B;
  font-family: inherit;
  font-size: 1.4rem;
}
.section__brief__email:active {
  font-size: 1rem;
  font-family: inherit;
}

/*# sourceMappingURL=style.css.map */
