// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-black: #000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 53.25em; // 850px
$bp-small: 37.5em; // 600px
$bp-smallest: 29em; // 464px
// BASE STYLES

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;

    @media screen and (max-width: $bp-largest){
        font-size: 56.25%; // 9rem = 16px
    }
    @media screen and (max-width: $bp-smallest){
        font-size: 45%; // 8rem = 16px
    }
}
body{
    font-family:  'Nunito', sans-serif; 
    font-weight: 300;
    //line-height: 1.7;
    color: $color-grey-dark-2;
    box-sizing: border-box;
}
.section__popup{
    background-color: pink;

    opacity: 0;
    visibility: hidden;

    &:target{
        opacity: 1;
        visibility: visible;
    }
}
.popup__background{
    padding: 1rem 4rem;
    background-color: $color-primary-dark;
    position: absolute;
    top: 17%;
    right: 26%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.popup{

    &__item{
        text-align: center;
        list-style: none;
    }
    &__link{
        text-decoration: none;
        font-size: 1.6rem;
        font-family: inherit;
        color: $color-grey-light-1;
        padding: 1rem;
        display: inline-block;

        &:hover{
            color: $color-secondary;
        }
    }
}