.section__faqs{
    display: flex;
    padding: 6rem 4rem;
    justify-content: space-between;

    &__left{
        flex: 0 0 35%;
        margin-right: 5rem;
        padding: 5rem 3rem;
        background-color: $color-secondary;
    }
    &__right{
        flex: 1;
        justify-content: space-between;

        &--examples{
            padding: 3rem;
            background-color: $color-grey-light-1;
            transition: all 0.3s ease-in-out;
            border-radius: 0.5rem;

            &:not(:last-child){
                margin-bottom: 2rem;
            }
            &:hover{
                background-color: $color-primary-dark;
                color: $color-grey-light-1;
            }
        &--heading{
            font-size: 3rem;
            font-weight: 600;
            color: $color-primary-dark;
            margin-bottom: 1rem;
        }
    }
}
    &__heading{
        font-size: 4.5rem;
        font-weight: 900;
        line-height: 1.2;
        color: $color-grey-light-1;
        margin-bottom: 2rem;
    }
    &__subheading{
        font-size: 2.3rem;
        color: $color-primary-dark;
        margin-bottom: 2rem;
    }
}