.main__header{
    display: flex;

    @media screen and (max-width: $bp-small) {
           flex-direction: column;
    }

}
.header{
    flex: 0 0 61.5%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    height: 100vh;
    line-height: 1.6;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpeg);  
    background-position: center;
    background-size: cover;

    @media screen and (max-width: $bp-small) {
        flex: 0 0 150%;
    }
    &__sidebar{
        flex: 1;
        align-content: center;
        padding-top: 3rem;
        padding: 6rem;
        background-color: $color-secondary;

        @media screen and (max-width: $bp-small) {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero.jpeg);
           background-size: cover;
           background-position: cover;
            padding: 25rem 3rem;
           padding-left: 7rem;
    }
    @media screen and (max-width: $bp-smallest) {
            padding: 30rem 3rem;
           padding-left: 7rem;
    }

        &__contact{
            margin-right: 8rem;
            background-color: $color-secondary;
            padding: 1.5rem 3rem;
            border-radius: 2rem;

        @media screen and (max-width: $bp-large) {
            margin-right: 7rem; 
        }
         @media screen and (max-width: $bp-small) {
            display: none;
        }
            
            &--info{
                font-size: 1.6rem;
                font-weight: 600;
                font-family: "Josefin Sans", sans-serif;
                color: $color-primary;
                
                &:hover{
                    color: $color-grey-light-1;
                }
            }
        }
    }
    &__text__main{
        font-size: 5.7rem;
        line-height: 1;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 900;
        
        @media screen and (max-width: $bp-large) {
            font-size: 4.5rem;
        }
        @media screen and (max-width: $bp-small) {
            color: $color-primary;
        }
    }
    &__text__sub{
        color: $color-grey-light-1;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 4rem;

        @media screen and (max-width: $bp-large) {
            font-size: 1.6rem;
            
        }
    }
    &__btn{
        display: inline-block;
        text-decoration: none;
        color: $color-primary;
        margin-top: 3rem;
        background-color: $color-grey-light-1;
        padding: 2rem 10rem;
        border-radius: 1.5px;
        font-size: 1.8rem;
        font-weight: 600;
        font-family: "Josefin Sans", sans-serif;
        border: none;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: $bp-large) {
            padding: 1.5rem 4rem;
            font-size: 1.6rem;
            
        }
        

        &:hover{
            background-color: $color-primary;
            color: $color-grey-light-1;
        }
    }
    &__logo__image{
        //margin-top: 3rem;
        margin-left: 4rem;
        width: 15rem;

        @media screen and (max-width: $bp-small) {
            margin-left: 2rem;
            width: 10rem;
        }

    }
    &__nav{
        display: flex;
        //margin-top: 3rem;
        background-color: $color-secondary;
        padding: .8rem 3rem;
        border-radius: 2rem;

        @media screen and (max-width: $bp-medium) {
            display: none;
            
        }

        

        &__list{
            display: flex;
            list-style: none;
        }
        &__item{
            margin-right: 3rem;

        @media screen and (max-width: $bp-large) {
            margin-right: 1.5rem;
            
        }
        }
        &__link{
            text-decoration: none;
            color: $color-primary;
            font-size: 1.6rem;
            font-weight: 600;
            padding: 1rem 0;
            display: block;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: $color-grey-light-1;
            }
        }
    }
}
.head__glassy{
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2rem;
}