.navigationphone{

   
    &__checkbox{
        display: none;
    }

   display: none;

   @media screen and (max-width: $bp-medium) {
       display: block;
   }

    &__button{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 2.5rem;
        right: 2rem;
        background-color: #fff;
        z-index: 4000;
        text-align: center;
        cursor: pointer;

         @media screen and (max-width: $bp-small) {
            top: 1.3rem;
        }

    }

   &__background{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 2.5rem;
        right: 2rem;
        background-color: rgba($color-primary, 0.9); 
        box-shadow: 0 .4rem .6rem rgba($color-black, 0.1);

        @media screen and (max-width: $bp-small) {
            top: 1.8rem;
            right: 2.5rem;
        }

        z-index: 2000;
        transition: transform .3s;
        //transform: scale(20);
   }
   &__bar{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3000;

        opacity: 0;
        width: 0;
        transition: all .3;
   }
   &__nav{
        position: absolute;
        top: 45%;
        right: 20%;
        transform: translate(-50%, -50%);
        list-style: none;
        justify-items: center;
   }
   &__items:link,
   &__items:visited{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 3rem;
        margin-bottom: 2rem;
        display: inline-block;
        line-height: 1.7;
        font-weight: 600;
        //font-family: "Merriweather", serif;
        text-align: center;
         padding: .1rem;
   }
    &__items:hover,
    &__items:active{
          transition: all 0.1s ease;
          border-bottom: 0.2rem solid $color-primary;
          padding: .1rem;
            color: $color-primary;
          box-sizing: border-box;
    }
    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }
    &__checkbox:checked ~ &__bar{
        opacity: 1;
        width: 100%;
    }
    &__toggle{
        position: relative;
        margin-top: 1.8rem;



        &,
        &::before,
        &::after{
            width: 2rem;
            height: .2rem;
            background-color: $color-black;
            display: inline-block ;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before{
            top: -.6rem;
        }
        &::after{
            top: .6rem;
        }
    }
    &__button:hover &__toggle::before{
        top: -.7rem;
    }
    &__button:hover &__toggle::after{
        top: .7rem;
    }
    &__checkbox:checked + &__button &__toggle{
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__toggle::before{
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__toggle::after{
        top: 0;
         transform: rotate(-135deg);
    }
}