.section__relationship{
    background-color: $color-grey-light-1;
    padding: 1rem 0 6rem;
}
.section__member{
    padding: 6rem 0 2rem;

    &__heading{
        font-size: 4rem;
        font-weight: 900;
        color: $color-secondary;
        text-align: center;
    }
    &__tabs{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 4rem;
    }
    &__boxes{
        background-color: #fff;
        padding: 5rem 4rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;

        @media screen and (max-width: $bp-largest) {
            padding: 3rem 2rem;
        }
        @media screen and (max-width: $bp-large) {
            padding: 3rem 2rem;
        }
        @media screen and (max-width: $bp-medium) {
            flex: 0 0 30%;
            
        }


        &--images{
            height: 10rem;
            width: 20rem;
            background-size: cover;
            background-position: center;
        }
    }

}
.section__partnership{
     padding: 12rem 0 2rem;

    &__heading{
        font-size: 4rem;
        font-weight: 900;
        color: $color-secondary;
        text-align: center;
    }
   
}
