#sponsorship{
    background-color: $color-secondary;
    margin-bottom: 4rem;
}
.section__general{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

     @media screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}
.section__sponsorship{
    padding: 0rem 4rem 4rem;

    @media screen and (max-width: $bp-smallest) {
        padding: 0rem 1rem 4rem;
    }

    &__bottom{
        padding: 3rem ;
        background-color: $color-grey-light-1;
        flex: 0 0 23%;
        align-self: stretch;

        @media screen and (max-width: $bp-large) {
            flex: 0 0 48%;
            margin-bottom: 4rem;
        }


        &--flex{
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-secondary;
            color: $color-secondary;
        }
       
    }
    &__heading{
        font-size: 3.5rem;
        font-weight: 900;

        @media screen and (max-width: $bp-largest) {
            font-size: 2.8rem;
            
        }
    }
    &__text{
        font-size: 2.3rem;
        padding: 1rem 0;

        @media screen and (max-width: $bp-largest) {
            font-size: 1.6rem;
            
        }
    }
    &__paragraph{
        font-size: 1.6rem;
        line-height: 1.6;

        @media screen and (max-width: $bp-largest) {
            font-size: 1.3rem;
            
        }
        
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
}

